<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png" >
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="main-content">
        {{>header}}
    </div>
    <p>{{help_msg}}</p>
    {{>footer}}
</body>
</html>